{
    "Namespaces": {
        "s": "http:\/\/www.w3.org\/2003\/05\/soap-envelope",
        "ter": "http:\/\/www.onvif.org\/ver10\/error",
        "xsd": "http:\/\/www.w3.org\/2001\/XMLSchema",
        "tt": "http:\/\/www.onvif.org\/ver10\/schema",
        "tr2": "http:\/\/www.onvif.org\/ver20\/media\/wsdl",
        "tan": "http:\/\/www.onvif.org\/ver20\/analytics\/wsdl",
        "xs": "http:\/\/www.w3.org\/2001\/XMLSchema",
        "tns1": "http:\/\/www.onvif.org\/ver10\/topics"
    },
    "SupportedAnalyticsModules": {
        "AnalyticsModuleContentSchemaLocation": [
            "http:\/\/www.w3.org\/2001\/XMLSchema"
        ],
        "modules": [
            {
                "Name": "tt:MotionRegionDetector",
                "fixed": "false",
                "maxInstances": "4",
                "Parameters": [
                    {
                        "DescriptionType": "SimpleItemDescription",
                        "Name": "Sensitivity",
                        "Type": "xs:integer"
                    }
                ],
                "Messages": [
                    {
                        "IsProperty": "true",
                        "Source": [
                            {
                                "DescriptionType": "SimpleItemDescription",
                                "Name": "VideoSource",
                                "Type": "tt:ReferenceToken"
                            },
                            {
                                "DescriptionType": "SimpleItemDescription",
                                "Name": "RuleName",
                                "Type": "xs:string"
                            }
                        ],
                        "Data": [
                            {
                                "DescriptionType": "SimpleItemDescription",
                                "Name": "State",
                                "Type": "xs:boolean"
                            }
                        ],
                        "ParentTopic": "tns1:RuleEngine\/MotionRegionDetector\/Motion"
                    }
                ],
                "Options": [
                    {
                        "RuleType": "",
                        "Name": "Sensitivity",
                        "Type": "tt:IntRange",
                        "minOccurs": "1",
                        "maxOccurs": "1",
                        "AnalyticsModule": "tt:MotionRegionDetector",
                        "Min": "1",
                        "Max": "100",
                        "Default": "50"
                    }
                ]
            }
        ]
    }
}
