{
    "authenticationMethods":
    [
        "none",
        "ws-security",
        "digest",
        "digest/ws-security"
    ],

    "authentication":"none",

    "users":
    [
        {
            "login":"a",
            "password":"a1",
            "type":"administrator"
        },

        {
            "login":"o",
            "password":"o1",
            "type":"operator"
        },

        {
            "login":"u",
            "password":"u1",
            "type":"user"
        }
    ]
}