{
    "Namespaces":
    {
        "s":"http://www.w3.org/2003/05/soap-envelope",
        "xsi":"http://www.w3.org/2001/XMLSchema-instance",
        "xsd":"http://www.w3.org/2001/XMLSchema",
        "tt":"http://www.onvif.org/ver10/schema",
        "wsa":"http://www.w3.org/2005/08/addressing",
        "wsnt":"http://docs.oasis-open.org/wsn/b-2",
        "tet":"http://www.onvif.org/ver10/events/wsdl",
        "wstop":"http://docs.oasis-open.org/wsn/t-1",
        "tns1":"http://www.onvif.org/ver10/topics"
    },

    "GetEventProperties":
    {
        "ReadResponseFromFile":false,
        "ResponseFilePath":"responses/GetEventProperties.response"
    },

    "PullPoint":
    {
        "IgnoreClientsTimeout":true,
        "Timeout":"60"
    },
   
    
    "DigitalInputsAlarm":
    {
        "Topic":"tns1:Device/Trigger/DigitalInput",
        "EventGenerationTimeout":30
    },

    "MotionAlarm":
    {
        "GenerateEvents":false,
        "EventGenerationTimeout":5,
        "Topic":"tns1:VideoSource/MotionAlarm",
        "Source":"VideoSrcConfigToken0"
    },

    "CellMotion":
    {
        "Topic":"tns1:RuleEngine/CellMotionDetector/Motion",        
        "GenerateEvents":true,
        "EventGenerationTimeout":5,
        "VideoSourceConfigurationToken":"VideoSrcConfigToken0",
        "VideoAnalyticsConfigurationToken":"VideoAnalyticsConfigToken0",
        "Rule":"MyMotionDetectorRule",
        "DataItemName":"IsMotion"   
    }
}