{
    "Namespaces":
    {
        "s":"http://www.w3.org/2003/05/soap-envelope",
        "xsi":"http://www.w3.org/2001/XMLSchema-instance",
        "xsd":"http://www.w3.org/2001/XMLSchema",
        "tt":"http://www.onvif.org/ver10/schema",
        "tr2":"http://www.onvif.org/ver20/media/wsdl",
        "tns1":"http://www.onvif.org/ver10/topics",
        "ter":"http://www.onvif.org/ver10/error"
    },

    "GetVideoSources":
    [
        {
            "token":"VideoSource0",
            "Framerate":25,
            "Resolution":
            {
                "Width":1280,
                "Height":720
            }
        }
    ],

    "GetServiceCapabilities2":
    {
        "SnapshotUri": false,
        "Rotation": false,
        "VideoSourceMode": false,
        "OSD": false,
        "TemporaryOSDText": false,
        "Mask": false,
        "SourceMask": false,
        "ProfileCapabilities":
        {
            "MaximumNumberOfProfiles": 3,
            "ConfigurationsSupported": "VideoSource VideoEncoder AudioSource AudioEncoder"
        },
        "StreamingCapabilities":
        {
            "RTSPStreaming": true,
            "RTPMulticast": false,
            "RTP_RTSP_TCP": true,
            "NonAggregateControl": false,
            "AutoStartMulticast": false
        }
    },

    "GetStreamUri":
    [        
        {
            "VideoEncoderToken":"VideoEncoderToken0",
            "Uri":"Live&HighStream",
            "InvalidAfterConnect":false,
            "InvalidAfterReboot":false,
            "Timeout":"PT0S"            
        },

        {
            "VideoEncoderToken":"VideoEncoderToken1",
            "Uri":"Live&LowStream",
            "InvalidAfterConnect":false,
            "InvalidAfterReboot":false,
            "Timeout":"PT0S"            
        }
    ]
    
}
