{
    "MediaProfiles":
    [
        {
            "token":"ProfileToken0",
            "fixed":true,
            "Name":"MainProfile",
            "VideoSourceConfiguration":"VideoSrcConfigToken0",
            "VideoEncoderConfiguration":"VideoEncoderToken0",
            "VideoAnalyticsConfiguration":"",
            "PTZConfiguration":"",
            "MetadataConfiguration":"",
            "AudioSourceConfiguration":"AudioSrcCfg0",
            "AudioEncoderConfiguration":"AudioEncCfg0"
        },

        {
            "token":"ProfileToken1",
            "fixed":true,
            "Name":"SecondProfile",
            "VideoSourceConfiguration":"VideoSrcConfigToken0",
            "VideoEncoderConfiguration":"VideoEncoderToken1",
            "VideoAnalyticsConfiguration":"",
            "PTZConfiguration":"",
            "MetadataConfiguration":""
        }
    ],

    "VideoSourceConfigurations":
    [
        {
            "token":"VideoSrcConfigToken0",
            "Name":"VideoSrcConfigToken0",
            "UseCount":2,
            "ViewMode":"Original",
            "SourceToken":"VideoSource0",
            "Bounds":
            {
                "x":0,
                "y":0,
                "width":1280,
                "height":720
            },
            "Options":
            {
                "MaximumNumberOfProfiles":2,
                "BoundsRange":
                {
                    "XRange":
                    {
                        "Min":0,
                        "Max":0
                    },
                    "YRange":
                    {
                        "Min":0,
                        "Max":0
                    },
                    "WidthRange":
                    {
                        "Min":1280,
                        "Max":1280
                    },
                    "HeightRange":
                    {
                        "Min":720,
                        "Max":720
                    }
                }
            }   
        }
    ],

    "VideoEncoderConfigurations":
    [
        {
            "token":"VideoEncoderToken0",
            "Name":"VideoEncConfig0",
            "UseCount":1,
            "Encoding":"H264",
            "Resolution":
            {
                "Width":1280,
                "Height":720
            },
            "Quality":5,
            "RateControl":
            {
                "GuaranteedFrameRate":false,
                "FrameRateLimit":1,
                "EncodingInterval":1,
                "BitrateLimit":1

            },     
            "H264":
            {
                "GovLength":8,
                "H264Profile":"Main"
            },  
            "Multicast":
            {
                "Address":
                {
                    "Type":"IPv4",
                    "IPv4Address":"0.0.0.0"
                },
                "Port":0,
                "TTL":0,
                "AutoStart":"false"
            },
            "SessionTimeout":"PT30S"
        },
        
        {
            "token":"VideoEncoderToken1",
            "Name":"VideoEncConfig1",
            "UseCount":1,            
            "Encoding":"H264",
            "Resolution":
            {
                "Width":640,
                "Height":480
            },
            "Quality":5,
            "RateControl":
            {
                "GuaranteedFrameRate":true,
                "FrameRateLimit":1,
                "EncodingInterval":1,
                "BitrateLimit":1

            },
            "H264":
            {
                "GovLength":8,
                "H264Profile":"Main"
            },
            "Multicast":
            {
                "Address":
                {
                    "Type":"IPv4",
                    "IPv4Address":"0.0.0.0"
                },
                "Port":0,
                "TTL":0,
                "AutoStart":"false"
            },
            "SessionTimeout":"PT30S"
        }
    ],

    "VideoEncoderConfigurations2":
    [
        {
            "token":"VideoEncoderToken0",
            "Name":"VideoEncConfig0",
            "UseCount":1,
            "GovLength":8,
            "Profile":"Main",
            "GuaranteedFrameRate":false,
            "Encoding":"H264",
            "Resolution":
            {
                "Width":1280,
                "Height":720
            },
            "Quality":5,
            "RateControl":
            {
                "ConstantBitRate":false,
                "FrameRateLimit":1.0,
                "BitrateLimit":1
            }     
        },
        
        {
            "token":"VideoEncoderToken1",
            "Name":"VideoEncConfig1",
            "UseCount":1,
            "GovLength":8,
            "Profile":"Main",
            "GuaranteedFrameRate":false,
            "Encoding":"H264",
            "Resolution":
            {
                "Width":1280,
                "Height":720
            },
            "Quality":5,
            "RateControl":
            {
                "ConstantBitRate":false,
                "FrameRateLimit":1.0,
                "BitrateLimit":1
            }
        }
    ],
	
	"VideoEncoderConfigurationOptions2":
    [
		{
			"GovLengthRange" : "7 9",
			"FrameRatesSupported" : [1.0, 2.0],
			"ProfilesSupported":["Main"],
            "ConstantBitRateSupported":false,
            "GuaranteedFrameRateSupported":false,
            "Encoding":"H264",
            "QualityRange":{
                "Min":0,
                "Max":10
            },
            "ResolutionsAvailable":{
                "Width":1280,
                "Height":720
            },
            "BitrateRange":
            {
                "Min":0,
                "Max":10
            }
		}
	],

    "AudioSource" :
    [
        {
            "Token":"AudioSource0"
        }
    ],

    "AudioSourceConfiguration":
    [
        {
            "token":"AudioSrcCfg0",
            "Name":"G.711",
            "UseCount":0,
            "SourceToken":"AudioSource0"
        },

        {
            "token":"AudioSrcCfg1",
            "Name":"G.726",
            "UseCount":0,
            "SourceToken":"AudioSource0"
        },

        {
            "token":"AudioSrcCfg2",
            "Name":"AAC",
            "UseCount":0,
            "SourceToken":"AudioSource0"
        }
    ],

    "AudioEncoderConfiguration":
    [
        {
            "token":"AudioEncCfg0",
            "Name":"Audio encoder configuration",
            "UseCount":0,
            "Encoding":"PCMU",
            "Bitrate":64,
            "SampleRate":8
        }
    ],

    "AudioEncoderConfigurationOptions":
    [
        {
            "AudioEncoderConfigurationToken":"AudioEnc0",
            "Encoding":"PCMU",
            "BitrateList":[16,24,32,48,64],
            "SampleRateList":[8,16,24,32,48]
        },

        {
            "AudioEncoderConfigurationToken":"AudioEnc0",
            "Encoding":"G726",
            "BitrateList":[16,24,32,48,64],
            "SampleRateList":[8,16,24,32,48]
        },

        {
            "AudioEncoderConfigurationToken":"AudioEnc0",
            "Encoding":"MP4A-LATM",
            "BitrateList":[16,24,32,48,64],
            "SampleRateList":[8,16,24,32,48]
        }
    ]
}