{
    "MediaProfiles": [
        {
            "token": "ProfileToken0",
            "fixed": "true",
            "Name": "MainProfile",
            "VideoSource": "VideoSrcConfigToken0",
            "VideoEncoder": "VideoEncoderToken0",
            "AudioSource": "AudioSrcCfg0",
            "AudioEncoder": "AudioEncCfg0",
            "Metadata": "",
            "Analytics": "",
            "PTZ": "PtzConfig_0"
        },
        {
            "token": "ProfileToken1",
            "fixed": "true",
            "Name": "SecondProfile",
            "VideoSource": "VideoSrcConfigToken0",
            "VideoEncoder": "VideoEncoderToken1",
            "Metadata": "",
            "Analytics": "",
            "PTZ": "PtzConfig_0"
        }
    ],
    "VideoSource": [
        {
            "token": "VideoSrcConfigToken0",
            "Name": "VideoSrcConfigToken0",
            "UseCount": "2",
            "ViewMode": "Original",
            "SourceToken": "VideoSource0",
            "Bounds": {
                "x": "0",
                "y": "0",
                "width": "1280",
                "height": "720"
            },
            "Options": {
                "MaximumNumberOfProfiles": "2",
                "BoundsRange": {
                    "XRange": {
                        "Min": "0",
                        "Max": "0"
                    },
                    "YRange": {
                        "Min": "0",
                        "Max": "0"
                    },
                    "WidthRange": {
                        "Min": "1280",
                        "Max": "1280"
                    },
                    "HeightRange": {
                        "Min": "720",
                        "Max": "720"
                    }
                }
            }
        }
    ],
    "VideoEncoderConfigurations": [
        {
            "token": "VideoEncoderToken0",
            "GuaranteedFrameRate": "false",
            "Name": "VideoEncConfig0",
            "UseCount": "1",
            "Encoding": "H264",
            "Resolution": {
                "Width": "1280",
                "Height": "720"
            },
            "Quality": "5",
            "RateControl": {
                "FrameRateLimit": "1",
                "EncodingInterval": "1",
                "BitrateLimit": "1"
            },
            "H264": {
                "GovLength": "8",
                "H264Profile": "Main"
            },
            "Multicast": {
                "Address": {
                    "Type": "IPv4",
                    "IPv4Address": "0.0.0.0"
                },
                "Port": "0",
                "TTL": "0",
                "AutoStart": "false"
            },
            "SessionTimeout": "PT30S"
        },
        {
            "token": "VideoEncoderToken1",
            "GuaranteedFrameRate": "true",
            "Name": "VideoEncConfig1",
            "UseCount": "1",
            "Encoding": "H264",
            "Resolution": {
                "Width": "640",
                "Height": "480"
            },
            "Quality": "5",
            "RateControl": {
                "FrameRateLimit": "1",
                "EncodingInterval": "1",
                "BitrateLimit": "1"
            },
            "H264": {
                "GovLength": "8",
                "H264Profile": "Main"
            },
            "Multicast": {
                "Address": {
                    "Type": "IPv4",
                    "IPv4Address": "0.0.0.0"
                },
                "Port": "0",
                "TTL": "0",
                "AutoStart": "false"
            },
            "SessionTimeout": "PT30S"
        }
    ],
    "VideoEncoder": [
        {
            "token": "VideoEncoderToken0",
            "Name": "VideoEncConfig0",
            "UseCount": "1",
            "GovLength": "8",
            "Profile": "Main",
            "GuaranteedFrameRate": "false",
            "Encoding": "H264",
            "Resolution": {
                "Width": "1280",
                "Height": "720"
            },
            "Quality": "5",
            "RateControl": {
                "ConstantBitRate": "false",
                "FrameRateLimit": "1.0",
                "BitrateLimit": "1"
            }
        },
        {
            "token": "VideoEncoderToken1",
            "Name": "VideoEncConfig1",
            "UseCount": "1",
            "GovLength": "8",
            "Profile": "Main",
            "GuaranteedFrameRate": "false",
            "Encoding": "H264",
            "Resolution": {
                "Width": "1280",
                "Height": "720"
            },
            "Quality": "5",
            "RateControl": {
                "ConstantBitRate": "false",
                "FrameRateLimit": "1.0",
                "BitrateLimit": "1"
            }
        }
    ],
    "VideoEncoderConfigurationOptions2": [
        {
            "GovLengthRange": "7 9",
            "FrameRatesSupported": [
                "2.0",
                "1.0"
            ],
            "ProfilesSupported": [
                "Main"
            ],
            "ConstantBitRateSupported": "false",
            "GuaranteedFrameRateSupported": "false",
            "Encoding": "H264",
            "QualityRange": {
                "Min": "0",
                "Max": "10"
            },
            "ResolutionsAvailable": {
                "Width": "1280",
                "Height": "720"
            },
            "BitrateRange": {
                "Min": "0",
                "Max": "10"
            }
        }
    ],
    "AudioSources": [
        {
            "Token": "AudioSource0"
        }
    ],
    "AudioSource": [
        {
            "token": "AudioSrcCfg0",
            "Name": "Audio_source_config",
            "UseCount": "1",
            "SourceToken": "AudioSource0"
        }
    ],
    "AudioEncoder": [
        {
            "token": "AudioEncCfg0",
            "Name": "Audio_encoder_configuration",
            "UseCount": "1",
            "Encoding": "PCMU",
            "Bitrate": "64",
            "SampleRate": "8"
        }
    ],
    "AudioEncoderConfigurationOptions": [
        {
            "AudioEncoderConfigurationToken": "AudioEnc0",
            "Encoding": "PCMU",
            "BitrateList": [
                "64"
            ],
            "SampleRateList": [
                "8"
            ]
        },
        {
            "AudioEncoderConfigurationToken": "AudioEnc0",
            "Encoding": "PCMA",
            "BitrateList": [
                "64"
            ],
            "SampleRateList": [
                "8"
            ]
        },
        {
            "AudioEncoderConfigurationToken": "AudioEnc0",
            "Encoding": "G726",
            "BitrateList": [
                "16",
                "24",
                "32",
                "48",
                "64"
            ],
            "SampleRateList": [
                "8",
                "16",
                "24",
                "32",
                "48"
            ]
        },
        {
            "AudioEncoderConfigurationToken": "AudioEnc0",
            "Encoding": "MP4A-LATM",
            "BitrateList": [
                "16",
                "24",
                "32",
                "48",
                "64"
            ],
            "SampleRateList": [
                "8",
                "16",
                "24",
                "32",
                "48"
            ]
        }
    ],
    "PTZ": [
        {
            "token": "PtzConfig_0",
            "Name": "PTZ Configuration 0",
            "NodeToken": "PTZNodeToken_1",
            "DefaultContinuousPanTiltVelocitySpace": "http:\/\/www.onvif.org\/ver10\/tptz\/PanTiltSpaces\/VelocityGenericSpace",
            "DefaultContinuousZoomVelocitySpace": "http:\/\/www.onvif.org\/ver10\/tptz\/ZoomSpaces\/VelocityGenericSpace",
            "DefaultPTZSpeed": {
                "PanTilt": {
                    "x": "0.5",
                    "y": "0.5",
                    "space": "http:\/\/www.onvif.org\/ver10\/tptz\/PanTiltSpaces\/GenericSpeedSpace"
                },
                "Zoom": {
                    "x": "0.5",
                    "space": "http:\/\/www.onvif.org\/ver10\/tptz\/ZoomSpaces\/ZoomGenericSpeedSpace"
                }
            },
            "DefaultPTZTimeout": "PT10S",
            "PanTiltLimits": {
                "Range": {
                    "URI": "http:\/\/www.onvif.org\/ver10\/tptz\/PanTiltSpaces\/PositionGenericSpace",
                    "XRange": {
                        "Min": "-1.0",
                        "Max": "1.0"
                    },
                    "YRange": {
                        "Min": "-1.0",
                        "Max": "1.0"
                    }
                }
            },
            "ZoomLimits": {
                "Range": {
                    "URI": "http:\/\/www.onvif.org\/ver10\/tptz\/ZoomSpaces\/PositionGenericSpace",
                    "XRange": {
                        "Min": "0.0",
                        "Max": "1.0"
                    }
                }
            }
        }
    ],
    "PTZConfigurationOptions": [
        {
            "token": "PtzConfig_0",
            "PTZTimeout": {
                "Min": "PT1S",
                "Max": "PT100S"
            }
        }
    ]
}
