{
    "MediaProfiles":
    [
        {
            "token":"ProfileToken0",
            "fixed":true,
            "Name":"MainProfile",
            "VideoSourceConfiguration":"VideoSrcConfigToken0",
            "VideoEncoderConfiguration":"VideoEncoderToken0",
            "VideoAnalyticsConfiguration":"",
            "PTZConfiguration":"",
            "MetadataConfiguration":""
        },

        {
            "token":"ProfileToken1",
            "fixed":true,
            "Name":"SecondProfile",
            "VideoSourceConfiguration":"VideoSrcConfigToken0",
            "VideoEncoderConfiguration":"VideoEncoderToken1",
            "VideoAnalyticsConfiguration":"",
            "PTZConfiguration":"",
            "MetadataConfiguration":""
        }
    ],

    "VideoSourceConfigurations":
    [
        {
            "token":"VideoSrcConfigToken0",
            "Name":"VideoSrcConfigToken0",
            "UseCount":2,
            "ViewMode":"Original",
            "SourceToken":"VideoSource0",
            "Bounds":
            {
                "x":0,
                "y":0,
                "width":1280,
                "height":720
            }
        }
    ],

    "VideoEncoderConfigurations":
    [
        {
            "token":"VideoEncoderToken0",
            "Name":"VideoEncConfig0",
            "UseCount":1,
            "Encoding":"H264",
            "Resolution":
            {
                "Width":1280,
                "Height":720
            },
            "Quality":5,
            "Multicast":
            {
                "Address":
                {
                    "Type":"IPv4",
                    "IPv4Address":"0.0.0.0"
                },
                "Port":0,
                "TTL":0,
                "AutoStart":"false"
            },
            "SessionTimeout":30
        },
        
        {
            "token":"VideoEncoderToken1",
            "Name":"VideoEncConfig1",
            "UseCount":1,            
            "Encoding":"H264",
            "Resolution":
            {
                "Width":640,
                "Height":480
            },
            "Quality":5,
            "Multicast":
            {
                "Address":
                {
                    "Type":"IPv4",
                    "IPv4Address":"0.0.0.0"
                },
                "Port":0,
                "TTL":0,
                "AutoStart":"false"
            },
            "SessionTimeout":30
        }
    ]
}