{
    "Namespaces":
    {
        "s": "http://www.w3.org/2003/05/soap-envelope",
        "ter": "http://www.onvif.org/ver10/error",
        "xsd": "http://www.w3.org/2001/XMLSchema",
        "tt": "http://www.onvif.org/ver10/schema",
        "tptz": "http://www.onvif.org/ver20/ptz/wsdl"
    },

    "Nodes":
    [
        {
            "token": "PTZNodeToken_1",
            "FixedHomePosition": false,
            "GeoMove": false,
            "Name": "PTZ NODE 0",
            "SupportedPTZSpaces":
            [
                {
                    "space": "ContinuousPanTiltVelocitySpace",
                    "URI": "http://www.onvif.org/ver10/tptz/PanTiltSpaces/VelocityGenericSpace",
                    "XRange":
                    {
                        "Min":-1.0,
                        "Max":1.0
                    },
                    "YRange":
                    {
                        "Min":-1.0,
                        "Max":1.0
                    }
                },
                {
                    "space": "ContinuousZoomVelocitySpace",
                    "URI": "http://www.onvif.org/ver10/tptz/ZoomSpaces/VelocityGenericSpace",
                    "XRange":
                    {
                        "Min":-1.0,
                        "Max":1.0
                    }
                }
            ],
            "MaximumNumberOfPresets": 255,
            "HomeSupported": false
        }
    ]
}