{
    "Namespaces":
    {
        "s":"http://www.w3.org/2003/05/soap-envelope",
        "ter":"http://www.onvif.org/ver10/error",
        "xsi":"http://www.w3.org/2001/XMLSchema-instance",
        "xsd":"http://www.w3.org/2001/XMLSchema",
        "tt":"http://www.onvif.org/ver10/schema",
        "tse":"http://www.onvif.org/ver10/search/wsdl"
    },

    "Recordings":
    [
        {
            "Token":"Recording_0",
            "VideoTrack":"VideoTrack_0",
            "DateFrom":"20210523T000000",
            "DateUntil":"20210523T060000"    
        }
    ]
}